html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}
#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}
#map {
    width:100%;
    height:85%;
}
#customer-info {
    position: absolute;
    z-index: 1;
    background-color: white;
    top: 15%;
    left: 1%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#current-position, #car-mileage{
    vertical-align: top;
    font-size: 12px;
    height: 25px;
}
#customer-name, #car-model {
    vertical-align: bottom;
}
.top-border {
    border-top-style: solid;
    border-color: black;
}
.small-text {
    font-size: 12px;
}
.left-align {
    text-align: left;
}
.right-align {
    text-align: right;
}
.input-bottom-border {
    border: none;
    border-bottom: 1px solid darkgrey;
}

/* authorizationForm */
.authorizationForm{
    position: absolute;
    top: 30%;
    left: 35%;
}
.au-form{
    padding: 25px;
    width: 400px;
    background-color: #3b5998;
}
.au-form-row{
    width: 100%;
    height: 50px;
}
.au-form-row div{
    margin-left: 15px;
    /*width: 25%;*/
    /*float: left;*/
}
.authorizationForm label{
    display: inline-block;
    float: left;
    width: 25%;
    text-align: right;
}
.authorizationForm input{
    height: 30px !important;
    width: 220px;
}
.journals-block select{
    width: auto !important;
}
.au-form-row label {
    color: white !important;
}