<div id="route">
    <form id="control">
        <input id="lat" type="textbox" value="<?= isset($_REQUEST['lat']) ? isset($_REQUEST['lat']) : 45.044502 ?>" hidden="hidden">
        <input id="lon" type="textbox" value="<?= isset($_REQUEST['lon']) ? isset($_REQUEST['lon']) : 41.969065 ?>" hidden="hidden">
        <label for="lat">Радиус:</label>
        <input id="rad" type="textbox" value="<?= isset($_REQUEST['rad']) ? isset($_REQUEST['rad']) : 3000 ?>">
    </form>

</div>
<div id="customer-info">
    <div>
        <table>
            <tr>
                <td rowspan="2"><img src="img/user.png"></td>
                <th id="customer-name"></th>
                <td rowspan="2"><a href="index.php?do=logout"><img src="icons/logout.png"></a></td>
            </tr>
            <tr>
                <td id="current-position"></td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td rowspan="2"><img src="img/car.png">
                <th id="car-model" ></th>
                </td>
            </tr>
            <tr>
                <td id="car-mileage"></td>
            </tr>
        </table>
        <hr>
        <table id="cities-list">
            <tr class="first-tr">
                <th class="small-text left-align">
                    От куда
                </th>
                <td>
                    <input id="address_from" class="input-bottom-border" type="textbox" value="">
                </td>
            </tr>
            <tr class="entrance-city">
                <td></td>
                <td class="cities">

                </td>
            </tr>
            <tr class="last-tr">
                <th class="small-text left-align">
                    Куда
                </th>
                <td>
                    <input id="address_to" class="input-bottom-border"  type="textbox" value="">
                </td>
            </tr>
            <tr>
                <td></td>
                <td id="distance">

                </td>
            </tr>
            <tr>
                <td></td>
                <td class="right-align">
                    <input id="select" type="button" value="Построить" onclick="init()">
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="map"></div>