
<div id="map"></div>

<script>
    ymaps.ready();

    var myMap = new ymaps.Map("map", {
        center: [$('#lat').val(),$('#lon').val()],
        zoom: 5,
        type: 'yandex#map',
        behaviors: ['scrollZoom', 'drag'],
        controls: ['typeSelector', 'zoomControl']
    });

    myMap.controls.add('zoomControl', {size: "small", top: "40px", right: "10px"});
    myMap.controls.add('typeSelector');
</script>